body {
    background: url("images/background.jpg") fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.top{
    margin: 0;
    padding: 0;
    height: 23vw;
}
.top-image{
    height: 23vw;
    width: 100%;
    size: 100% 100%;
    margin: 0;
    padding: 0;

}
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    background-color: rgba(197, 196, 196, 0.5);
    font-family: 'Lato', sans-serif;
    padding: 0.5%;
    height: 15%;
    top: 0%;
}
.profile-photo {
    width: 7%;
    box-shadow: 0 0 2% rgba(0,0,0,0.2);
    border: 0vw solid black;
    border-radius: 0.8vw;
    margin-right: 2vw;
}
.full-name-proffesion {
    font-size: 1vw;
}
.top-nav-bar {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 5%;
}
.top-nav-bar a {
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5vw;
    height: 10%;
    color: #990000;
    text-transform: uppercase;
    padding-right: 9vw;
}
.top-nav-bar a:hover {
    color: #ff0000;
}
.top-bar {
    border-top: 0.1vw solid black;
    background-color: #b30000;
    padding: 0.8%;
    border-bottom: 0.1vw solid black;
    font-family: 'Lato', sans-serif;
    font-size: 1.1vw;
}
.top-bar p {
    display: inline;
    padding: 10vw;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}


/* system hekadecymalny */

.mid-bar {
    border-top: 0.1vw solid black;
    background-color: #b30000;
    padding: 0.8vw;
    border-bottom: 0.1vw solid black;
    font-family: 'Lato', sans-serif;
    font-size: 1.1vw;
}
.mid-bar p {
    display: inline;
    padding: 10vw;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.bottom-bar {
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    width: 80%;
    height: 1vw;
    background-color: #2e2e1f;
    border: 0.1vw solid black;
}

footer {
    display: flex;
    flex-direction: column;
    height: 10vw;
    background-color: #800000;
}

footer span {
    color: #fff;
    font-size: 1.4vw;
    padding-right: 10vw;
    margin-left: 10vw;
    margin-top: 2vw;
    text-transform: uppercase;
}

